* {
    width: 100%;
    font-family: serif, Times;
    color: #e4e3d3;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    padding: 10px 10px;
    background-color: #e4e3d3;
    flex-wrap: wrap;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/morris-1.jpg");
    background-size: cover;
    background-position: 80%;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 20px 20px;
}

header nav ul {
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 4vw;
    color: #e4e3d3;
}

.main-header {
    display: flex;
    justify-content: space-evenly;
}

/* About */
body {
    background-color: #00160e;
    padding: 0;
}


.sidebyside {
    display: flex;
    padding: 30px 30px 30px 30px;
    justify-content: space-evenly;
}

.bio {
    display: flex;
    text-align: left;
    padding: 20px;
    align-items: center;
}

.ava-image {
    display: flex;
    justify-content: center;
    align-self: center;
}

.ava-image img {
    max-width: 300px;
}

.name {
    font-size: 35px;
    color: orangered;
}


/* Works */

.container {
    display: flex;
    align-items: center;
}

.mainwork {
    padding: 10px;
}    

.mainwork button {
    height: 210px;
    background-image: url("../images/mignon.jpg");
    background-position: 70%;
    padding: 10px;
}

.smallones {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
}

.smallones button {
    padding: 10px;
}

.button1 {
    background-image: url("../images/mignon.jpg");
    background-position: 30%;
}

.button2 {
    background-image: url("../images/mignon.jpg");
    background-position: 40%;
}

.button3 {
    background-image: url("../images/mignon.jpg");
    background-position: 50%;
}

.button4 {
    background-image: url("../images/mignon.jpg");
    background-position: 60%;
}

h3 button {
    font-size: 20px;
    text-align: left;
    border: 5px solid #00160e;
}

/* Contact */
.big-contact {
    display: flex;
    border: 2px solid #e4e3d3;
    align-items: stretch;
    border-radius: 20px;
    margin-top: 20px;
}

h2 {
    text-align: center;
    font-size: 32px;
}

.contact {
    margin: 20px;
}

.contact div {
    border: 5px solid #e4e3d3;
}

body nav ul {
    display: inline-flex;
    justify-content: space-evenly;
    text-align: center;
}

body nav ul li {
    display: inline;
}


/* Small */
@media screen and (max-width: 980px) {
    .sidebyside {
        width: 100%;
    }
}

/* Smaller */



/* Smallest */