* {
    width: 100%;
    font-family: serif, Times;
    color: #e4e3d3;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

header {
    padding: 10px 10px;
    background-color: #e4e3d3;
    flex-wrap: wrap;
    position:sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/morris-1.jpg");
    background-size: cover;
    background-position: 80%;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 20px 0;
}

header nav ul {
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 0 30% 10%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 4vw;
    color: #e4e3d3;
}

.main-header {
    display: flex;
    justify-content: space-evenly;
}

/* About */
body {
    background-color: #00160e;
}


/* Works */

.sidebyside {
    display: flex;
}

.bio {
    display: flex;
    margin: 2;
}

.ava-image {
    display: flex;
    margin: 1;
}

/* Contact */