* {
    width: 100%;
    font-family: serif, Times;
    color: #e4e3d3;
}

/* Header */

header {
    padding: 30px 30px;
    background-color: #e4e3d3;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    top: 0;
    background-image: url("../images/mignon.jpg");
    background-size: cover;
    background-color: none;
}

/* About */
body {
    background-color: #00160e;
}


/* Works */



/* Contact */